* {
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    font-family: BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Helvetica Neue', sans-serif;
}

li {
    width: fit-content;
}

#start {
    border: 1px solid transparent;
    background-color: #30bcd5;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: .6rem 1.4rem;
    transition: background-color .1s ease;
    cursor: pointer;
}

#start:hover {
    background-color: #28acc3;
}

#get-started {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#open-efi-container {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    margin-top: 10px;
}

#open-efi {
    margin-right: 12px;
    border: 1px solid #545050;
    border-radius: 5px;
    display: none;
    padding: 3px 10px;
}

.card {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    height: 50px;
    margin-top: 2%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

.card img {
    height: 50px;
}

.card > div:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    text-align: left;
    width: 100%;
}

.card > div:nth-child(2) > div:nth-child(1) {
    font-weight: 600;
    font-size: large;
}

.card > div:nth-child(2) > div:nth-child(2) {
    font-weight: 300;
    font-size: small;
}

@media (prefers-color-scheme: light) {
    .card {
        background-color: #edebea;
        border: 1px solid #e0dedd;
    }
}

@media (prefers-color-scheme: dark) {
    .card {
        border: 1px solid #545050;
        background-color: #363232;
    }
}