* {
    margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
    font-family: -apple-system, 'Apple SD Gothic Neo', 'Helvetica Neue', sans-serif;
}

li {
    width: fit-content;
}

#select-opencore-version {
    display: none;
}

#efiinfo {
    display: none;
}

#update-in-progress {
    display: none;
}

#success {
    display: none;
}

#start {
    border: 1px solid transparent;
    background-color: #30bcd5;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: .6rem 1.4rem;
    transition: background-color .1s ease;
    cursor: pointer;
}

#start:hover {
    background-color: #28acc3;
}

#update {
    border: 1px solid transparent;
    background-color: #30bcd5;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: .6rem 1.4rem;
    transition: background-color .1s ease;
    cursor: pointer;
    display: none;
}

#update:hover {
    background-color: #28acc3;
}

#updatebeta {
    border: 1px solid transparent;
    background-color: #30bcd5;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: .6rem 1.4rem;
    transition: background-color .1s ease;
    cursor: pointer;
    display: block;
}

#updatebeta:hover {
    background-color: #28acc3;
}

#confirm-version {
    border: 1px solid transparent;
    background-color: #30bcd5;
    border-radius: 40px;
    font-size: 1.2rem;
    padding: .6rem 1.4rem;
    transition: background-color .1s ease;
    cursor: pointer;
    display: block;
}

#confirm-version:hover {
    background-color: #28acc3;
}

#vault-removed {
    display: none;
}

#oc-version-selection {
    border: 1px solid transparent;
    border-radius: 40px;
    padding: .6rem 1.4rem;
}